<!DOCTYPE html>
<html>
	<body>
		<div class="confirmation_container">
			<h1 class="confirmation_body_title"><%="Congratulations, " + @firstname + "!" %></h1>
			<p class="confirmation_body_paragraph">You will be receiving an email shortly with more information!</p>
		</div>
	</body>
</html>