<!DOCTYPE html>
<html>
	<body>
		<div class="confirmation_container">
			<h1><%="Congratulations, " + @firstname + "!" %></h1>
			<p>You will be receiving an email shortly with more information!</p>
			div
		</div>
	</body>
</html>