<!DOCTYPE html>
<html>
<body>
	<div class="description_container">
		<div class="description_box">
			<img src="/images/golfing.jpg" alt="" class="description_box_image">
			<!-- Added the paragragh_box div so that the text would be centered within the description_container div -SR -->
			<div class="paragraph_box">
				<h1>Activities<a name ="biking"></a></h1>
				<p class="db_paragraph">
					Think vacationing on Mars is just about looking at the stars? Think again! The activities available on Mars are endless. From mountain biking to hiking, Mars is not for the meek. A sense of adventure and exploration is required when vacationing on Mars. While there is an emphasis on excitement, Mars Quest wouldn't dream of excluding golf for our esteemed customers.
				</p>
				<p class="db_paragraph">
					You can also be assured that Mars Quest takes your personal pleasures into consideration. We do all the logistical work on our end to make sure we have the preparations to make all meals gourmet and all beverages luxurious. If you have any concerns, questions, or suggestions regarding how to make your stay on Mars more memorable -- please do not hesitate to reach out to us!
				</p>
			</div>
		</div>
		<div class="spacer_box">
			<img src="/images/ls1cropped.jpg" alt="" class="spacer_box_image">
		</div>
		<div class="description_box">
			<img src="/images/hiking.jpg" alt="" class="description_box_image">
			<!-- Added the paragragh_box div so that the text would be centered within the description_container div -SR -->
			<div class="paragraph_box">
				<h1>Exploration<a name="hiking"></a></h1>
			<p class="db_paragraph">
			 	It is Mars Quests' goal to establish vacationing to Mars as an extravagent but feasible part of life. Consistent travel to Mars is the next giant leap for humankind. Exploring the solar system as a united humanity will bring us all closer together. 
			 </p>
			 <p class="db_paragraph">
			 	Mars is the stepping stone of the human race on its voyage into the universe. Exploration on Mars will aid our understanding of the origins of the solar system, the origins of life and our place in the universe. Not to mention-- it will be fun! 
			</p>
		</div>
		</div>
		<div class="spacer_box">
			<img src="/images/ls2cropped.jpg" alt="" class="spacer_box_image">
		</div>
		<div class="description_box">
			<img src="/images/launch.jpg" alt="" class="description_box_image">
			<!-- Added the paragragh_box div so that the text would be centered within the description_container div -SR -->
			<div class="paragraph_box">
				<h1>Risks and Challenges<a name="risks"></a></h1>
			<p class="db_paragraph">
				Mars Quest takes on the challenge of vacationing on Mars with a unique frame of mind. We accept and know that all great endeavors, especially space exploration, incorporate risk of lost time, resources, ... and sometimes lives. Venturing to Mars is no exception.
			</p>
			<p class="db_paragraph">
				The challenge is to identify the risks in every step. Ever evolving, ever improving, Mars Quest is constantly working to reduce the risk of delay and failure at every level. An important aspect of risk management is for quality information to be shared between suppliers and made readily available to all parties. 
			</p>
			<p class="db_paragraph">
				Mars Quest identifies two major risk categories: the loss of human life and cost overruns.
			</p>
		</div>
		</div>
	</div>
	
</body>
</html>