<!DOCTYPE html>
<html>
<body>
	<div class="description_container">
		<div class="description_box">
			<img src="/images/golfing.jpg" alt="" class="description_box_image">
			<!-- Added the paragragh_box div so that the text would be centered within the description_container div -SR -->
			<div class="paragraph_box">
				<h1>Activities<a name ="biking"></a></h1>
				<p class="db_paragraph">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias est quas ullam ipsam dicta neque architecto dolorem veritatis, officia facilis alias nisi facere obcaecati fugiat voluptas praesentium, deserunt natus debitis.
				</p>
			</div>
		</div>
		<div class="spacer_box">
			<img src="/images/ls1cropped.jpg" alt="" class="spacer_box_image">
		</div>
		<div class="description_box">
			<img src="/images/hiking.jpg" alt="" class="description_box_image">
			<!-- Added the paragragh_box div so that the text would be centered within the description_container div -SR -->
			<div class="paragraph_box">
				<h1>Exploration<a name="hiking"></a></h1>
			<p class="db_paragraph">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, similique ipsa incidunt tempore nesciunt fugiat quaerat temporibus accusamus esse illum dolore nam error eum doloremque consequatur, numquam alias veniam repudiandae.
			</p>
		</div>
		</div>
		<div class="spacer_box">
			<img src="/images/ls2cropped.jpg" alt="" class="spacer_box_image">
		</div>
		<div class="description_box">
			<img src="/images/launch.jpg" alt="" class="description_box_image">
			<!-- Added the paragragh_box div so that the text would be centered within the description_container div -SR -->
			<div class="paragraph_box">
				<h1>Risks and Challenges<a name="risks"></a></h1>
			<p class="db_paragraph">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur praesentium assumenda alias neque eum est non dolorem iure architecto modi, eaque error et deserunt accusamus laborum iste molestias placeat quod.
			</p>
		</div>
		</div>
	</div>
	
</body>
</html>