<!-- This page contains boiler plate HTML that will be placed on all pages
	it is always called layout.erb and located in the views folder -->

<!DOCTYPE html>

<html>

<head>
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="CSS/booking.css">
	<link rel="stylesheet" href="CSS/confirmation.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
	<script src="lightbox.js"></script>
	<link href="CSS/mainStyle.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div class="lightbox-outer">	
		<a href="/home"><img alt="lbimg" src="lightbox.png" class="lightboximage"></a>
	</div>

	<%= yield%>

</body>

</html>