<!-- This page contains boiler plate HTML that will be placed on all pages
	it is always called layout.erb and located in the views folder -->

<!DOCTYPE html>

<html>

<head>
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="CSS/booking.css">
	<link rel="stylesheet" href="CSS/confirmation.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
	<script src="lightbox.js"></script>
	<link href="CSS/mainStyle.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="CSS/description.css">
</head>

<body>
	<header>
		<!-- The images are linking from the app.rb file under @header_image. -SR -->
		<img class="layout_header_image" src=<%= @header_image %> alt="">
	</header>
	<div class="lightbox-outer">	
		<a href="/home"><img alt="lbimg" src="lightbox.png" class="lightboximage"></a>
	</div>

	<%= yield%>
	<!-- Footer for all pages. The text color is a softer black. Located in the mainstyle.css. -SR -->
	<footer>
		<div class="footer_inner">
			<div class="footer_block_menu">
				<h4 class="footer_block_title">PARTNERS</h4>
				<ul class="footer_list">
					<li class="footer_item"><a class="footer_item_anchor" href="#">NASA</a></li>
					<li class="footer_item"><a class="footer_item_anchor" href="#">SPACEX</a></li>
					<li class="footer_item"><a class="footer_item_anchor" href="#">BLUE ORIGIN</a></li>
				</ul>
			</div>
			<div class="footer_block_menu">
				<h4 class="footer_block_title">FOLLOW US</h4>
				<ul class="footer_list">
					<li class="footer_item"><a class="footer_item_anchor" href="#">FACEBOOK</a></li>
					<li class="footer_item"><a class="footer_item_anchor" href="#">TWITTER</a></li>
					<li class="footer_item"><a class="footer_item_anchor" href="#">INSTAGRAM</a></li>
				</ul>
			</div>
			<div class="footer_block_menu" id="footer_block_about">
				<h4 class="footer_block_title">ABOUT MARS QUEST</h4>
				<ul class="footer_list">
					<li class="footer_item"><a class="footer_item_anchor" href="#">COMPANY</a></li>
					<li class="footer_item"><a class="footer_item_anchor" href="#">CAREER</a></li>
					<li class="footer_item"><a class="footer_item_anchor" href="#">PRESS</a></li>
				</ul>
			</div>
			<div class="footer_block_menu">
			</div>
		</div>
		<div class="footer_copyright"><span>© 2015 MARS QUEST CORP.</span></div>
	</footer>
</body>

</html>