<!-- This page contains boiler plate HTML that will be placed on all pages
	it is always called layout.erb and located in the views folder -->


<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="CSS/mainStyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/navScript.js"></script>
		<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="CSS/booking.css">
	<link rel="stylesheet" type="text/css" href="CSS/gallery.css">
	<link rel="stylesheet" href="CSS/confirmation.css">
	<script src="lightbox.js"></script>
	<link rel="stylesheet" href="CSS/description.css">
</head>

	<body>
		<header>
		<!-- The images are linking from the app.rb file under @header_image. -SR -->
			<div style="position: relative; left: 0; top: 0;">
	  			<img class="layout_header_image" src=<%= @header_image %> style="position: relative; top: 0; left: 0;"/>
	  			<img class="logo" src="images/logo_three.png" style="position: absolute; top: 10px; left: 1050px;"/>
			</div>
		</header>
		<!-- begin HTML for nav bar -->
		<a href="#" class="slideout-menu-toggle">Toggle Menu</a>
		<div class="slideout-menu">
			<nav>
				<h2>Menu<a href="#" class="slideout-menu-toggle">x</a><h2>
				<ul>
					<li class="home"><a href="#">Home</a></li>
					<li class="slideout-booking"><a href="#">Booking</a>
						<ul>
							<li><a href="#">Book Now</a></li>
							<li><a href="#">Inquire</a></li>
						</ul>
					</li>
					<li class="slideout-activities"><a href="#">Activities</a>
						<ul>
							<li><a href="#">Golf</a><li>
							<li><a href="#">Hiking</a><li>
							<li><a href="#">Camping</a><li>
							<li><a href="#">Mountain Biking</a><li>
							<li><a href="#">Long Jumping</a><li>
						</ul>
					</li>
					<li class="gallery"><a href="#">Gallery</a></li>
				</ul>
			</nav>
		</div>

		<div class="lightbox-outer">	
			<a href="/booking"><img alt="lbimg" src="lightbox.png" class="lightboximage"></a>
		</div>

	<!-- 	************Let's try to keep the yield in the middle***************************** -->
		<%= yield%>


		<!-- Footer for all pages. The text color is a softer black. Located in the mainstyle.css. -SR -->
		<footer>
			<div class="footer_inner">
				<div class="footer_block_menu">
					<h4 class="footer_block_title">PARTNERS</h4>
					<ul class="footer_list">
						<li class="footer_item"><a class="footer_item_anchor" href="#">NASA</a></li>
						<li class="footer_item"><a class="footer_item_anchor" href="#">SPACEX</a></li>
						<li class="footer_item"><a class="footer_item_anchor" href="#">BLUE ORIGIN</a></li>
					</ul>
				</div>
				<div class="footer_block_menu">
					<h4 class="footer_block_title">FOLLOW US</h4>
					<ul class="footer_list">
						<li class="footer_item"><a class="footer_item_anchor" href="#">FACEBOOK</a></li>
						<li class="footer_item"><a class="footer_item_anchor" href="#">TWITTER</a></li>
						<li class="footer_item"><a class="footer_item_anchor" href="#">INSTAGRAM</a></li>
					</ul>
				</div>
				<div class="footer_block_menu" id="footer_block_about">
					<h4 class="footer_block_title">ABOUT MARS QUEST</h4>
					<ul class="footer_list">
						<li class="footer_item"><a class="footer_item_anchor" href="#">COMPANY</a></li>
						<li class="footer_item"><a class="footer_item_anchor" href="#">CAREER</a></li>
						<li class="footer_item"><a class="footer_item_anchor" href="#">PRESS</a></li>
					</ul>
				</div>
				<div class="footer_block_menu">
				</div>
			</div>
			<div class="footer_copyright"><span>© 2015 MARS QUEST CORP.</span></div>
		</footer>
	</body>



</html>
