<!-- This page contains boiler plate HTML that will be placed on all pages
	it is always called layout.erb and located in the views folder -->
<<<<<<< HEAD


=======
=======

>>>>>>> b9dc5c3bfa0d34f709dfcebf5ac059884fc5f49f
<!DOCTYPE html>

<html>

>>>>>>> 655a773c89fa84607fdb747b7625bed44ec17eab
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="CSS/booking.css">
	<link rel="stylesheet" href="CSS/confirmation.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
	<script src="lightbox.js"></script>
	<link href="CSS/mainStyle.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div class="lightbox-outer">	
		<a href="/home"><img alt="lbimg" src="lightbox.png" class="lightboximage"></a>
	</div>

	<%= yield%>

=======

>>>>>>> dba2367a1dec54a079a0a3bf160a8e3e01ec10d7
=======

</body>


</html>


>>>>>>> 655a773c89fa84607fdb747b7625bed44ec17eab
=======
</html>
>>>>>>> b9dc5c3bfa0d34f709dfcebf5ac059884fc5f49f
