<!-- lightbox will appear on every page with a reminder for the user to 'book' -->
	<!-- when lightbox appears, the rest of the site will be under a translucent black background -->

<!DOCTYPE html>

<html>
	<body>
<!-- 	<head>
		<title>reviews</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
		<link href="CSS/gallery.css" rel="stylesheet" type="text/css"/>
		<link href="CSS/mainStyle.css" rel="stylesheet" type="text/css"/>
	</head> -->
	
		<div class="reviews">
			<h1> Reviews </h1>
			<h3> See how past MarsQuest customers enjoyed their adventure vacations! </h3>
				<div class="customers">
					<img src="images/pete.jpg">
					<H1>Pete, 41</H1>
					<p>
						Pete is a very happy past customer of Mars Quest! Pete took advantage of our Golf & Gourmet package which included 18 holes of golf everyday, along with a gourmet 4-course meal on the 18th hole every night for dinner. Along with this package, Pete also enjoyed our friendly staff, comfortable travel and well made brochures. 
					</p>
				</div>
				<div class="customers">
					<img src="images/kelly.jpg">
					<H1>Kelly, 45</H1>
					<p>
						One of our favorite celebrity clients! Kelly Ripa has always been interested in space travel and Mars Quest was very flattered when she decided to take her first trip to Mars using our services. Kelly felt our celebrity VIP accomodations and amenities were extremely up to her typical standards and we very much encourage other celebrities to use our travel services. 
					</p>
				</div>
				<div class="customers">
					<img src="images/benleslie.jpg">
					<H1>Newlyweds: Ben, 34 & Leslie, 31</H1>
					<p>
					This is one adventurous couple! Ben & Leslie decided to buck tradition to explore Mars on their honeymoon! They jam packed their Mars vacation with hiking, golf, fancy meals and mountain biking. This happy twosome felt our honeymoon suite was very intimate and well-appointed!! If you are interested in our honeymoon specials, please let us know! 
					</p>
				</div>
				<div class="customers">
					<img src="images/beer.jpg">
					<H1>Rob, 24</H1>
					<p>
						Rob needed a jumpstart in his life -- he felt lost and misguided during his "quarter-life crisis". Deciding to leave his dead-end corporate job for something more exciting... Rob got everything he needed from his vacation to Mars! Plenty of relaxtion, self-reflection and must needed exercise. 
					</p>
				</div>
				<div class="customers">
					<img src="images/surf.jpg">
					<H1>Leon, 30</H1>
					<p>
						Leon was offered the opportunity to take a sabbatical from his high-powered job and Mars Quest was lucky that he chose us! Leon enjoyed his trip to Mars so much that he decided to leave his job and become a full-time staff member for us! Leon now makes it his personal mission to make sure other Mars Quest clients have an amazing experience like he did. 
					</p>
				</div>
				<div class="customers">
					<img src="images/wine.jpg">
					<H1>Jason, 67 & Molly, 65</H1>
					<p>
						In honor of decades of hardwork and love, Jason & Molly decided to kickoff their retirement with a trip to Mars. Taking advantage of our lighter activities like golf, long walks and delicious meals paired with wine, this seasoned couple got everything they deserved!
					</p>
				</div>
		</div>
	</body>
</html>
