<!-- lightbox will appear on every page with a reminder for the user to 'book' -->
	<!-- when lightbox appears, the rest of the site will be under a translucent black background -->

<!DOCTYPE html>

<html>
	<body>
<!-- 	<head>
		<title>reviews</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
		<link href="CSS/gallery.css" rel="stylesheet" type="text/css"/>
		<link href="CSS/mainStyle.css" rel="stylesheet" type="text/css"/>
	</head> -->
	
		<div class="reviews">
			<h1> Reviews </h1>
			<h3> See how past MarsQuest customers enjoyed their adventure vacations! </h3>
				<div class="customers">
					<img src="images/pete.jpg">
					<H1>Pete, 41</H1>
					<p>
						filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler 
					</p>
				</div>
				<div class="customers">
					<img src="images/kelly.jpg">
					<H1>Kelly, 45</H1>
					<p>
						filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler 
					
					</p>
				</div>
				<div class="customers">
					<img src="images/benleslie.jpg">
					<H1>Newlyweds: Ben, 34 & Leslie, 31</H1>
					<p>
					filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler 	
					</p>
				</div>
				<div class="customers">
					<img src="images/beer.jpg">
					<H1>Rob, 24</H1>
					<p>
						filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler 
					</p>
				</div>
				<div class="customers">
					<img src="images/surf.jpg">
					<H1>Leon, 30</H1>
					<p>
						filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler 
					</p>
				</div>
				<div class="customers">
					<img src="images/wine.jpg">
					<H1>Jason, 67 & Molly, 65</H1>
					<p>
						filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler filler 
					</p>
				</div>
		</div>
	</body>
</html>
