<!-- lightbox will appear on every page with a reminder for the user to 'book' -->
	<!-- when lightbox appears, the rest of the site will be under a translucent black background -->
	<!-- lightbox will appear when page opens and 30 seconds into being on the page -->

<!DOCTYPE html>

<html>
	<head>
		<title>reviews</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
	<link href="CSS/mainStyle.css" rel="stylesheet" type="text/css"/>
	</head>
	
	<body>

		<h1> Reviews </h1>

	</body>
</html>
