* {
	margin: 0;
	padding: 0;
}

/*styles for overall navbar, and to have hover and toggle work*/
.slideout-menu {
	background-color: #D24C12;
	background: linear-gradient(to bottom right, #D24C12, #A4021C);
	position: fixed;
	top: 0;
	width: 250px;
	left: -250px;
	height: 100%;
	/*z-index: 100;*/
}

.slideout-menu h2 {
	position: relative;
	padding: 12px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	border-bottom: 4px solid #222;
}

.slideout-menu-toggle {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 400;
	background-color: #D24C12;
	padding: 5px;
	text-align: center;
}

.slideout-menu .slideout-menu-toggle {
	position: absolute;
	top: 12px;
	right: 10px;
	display: inline-block;
	padding: 6px 9px 5px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	line-height: 1;
	background: rgba(0, 0, 0, 0);
	text-decoration: none;
	vertical-align: top;
}

.slideout-menu .slideout-toggle:hover {
	color: #C7112E;
}

.slideout-menu ul {
	list-style: none;
	font-weight: 300;
	border-top: 1px solid #601D00;
	border-bottom: 1px solid #8B2900;
}

.slideout-menu ul li {
	border-top: 1px solid #8B2900;
	border-bottom: 1px solid #601D00;
}

.slideout-menu ul li a {
	position: relative;
	display: block;
	padding: 10px;
	color: #E9983F;
	text-decoration: none;
	transition-duration: 500ms;
}

.slideout-menu ul li a:hover {
	background: rgba(0, 0, 0, .5);
	color: #FFF;
	transition-duration: 200ms;
}

/*styles for hiding slide out menu and having it pop*/

.slideout-menu ul li ul {
	display: none;
	background-color: #D24C12;
	font-size: .9em;
	font-weight: normal;
	padding: 10px;
	position: absolute;
	left: 250px;
}

.slideout-menu ul li.slideout-booking ul {
	top: 50px;

}

.slideout-menu ul li.slideout-activities ul {
	top: 100px;

}

.slideout-menu ul li ul li {
	display: block;
	border-left: none;
	position: relative;
}

.slideout-menu ul li ul li a {
	width: 170px;
	padding: 15px 10px;
	color: #fff;
}

.layout_header_image {
	width: 100%;
	border-bottom: solid 5px #AD3502;
}

header {
	overflow: hidden;
}

/*lightbox css*/
.lightbox-outer {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0px;
	top: 0px;
/*	display: none;*/
/*	border: double 5px black;
*/}

.lightboximage {
	width: 400px;
	margin-left: 460px;
	margin-top: 100px;
}

footer {
	width: 100%;
	height: 100px;
	background-color: #AD3502;
	padding: 40px 0px;
}

h4 {
	margin: 0 0 10px 0;
}

.footer_inner {
	width: 800px;
	margin: 0 auto;
	font-size: 15px;
	overflow: auto;
}

.footer_block_menu {
	float: left;
	width: 150px;
	border-right: dashed 1px black;
	margin-right: 25px;
}

.footer_block_title {
	color: #232420;
	margin: 0 0 5 0px;
}

#footer_block_about {
	width: 200px;
}

.footer_list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer_item {
	padding-bottom: 5px;
}

.footer_item_anchor {
	font-size: 12px;
	text-decoration: none;
	color: #232420;
}

.footer_item_anchor:hover {
	color: #E6E6E6;
}

.footer_copyright {
	overflow: auto;
	width: 100%;
	background-color: #AD3502;
}

.footer_copyright span {
	float: right;
	color: #232420;
	font-size: 15px;
	padding: 20px 20px 0 0;
}








